{% extends "base.html" %}
{% block content %}
<div class="container" style="max-width: 600px;">
    <div class="card my-2">
        {% if post.profile %}
        <a href="{% url 'profile-user-detail' post.profile.pk %}" class="text-decoration-none">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-2 ">
                        {% if post.profile.image %}
                        <div class="profile-image preview" style="background-image: url({{post.profile.image.url}})">
                        </div>
                        {% else %}
                        {% load static %}
                        <div class="profile-image preview"
                             style="background-image: url({% static 'img/noimage.jpg' %})">
                        </div>
                        {% endif %}
                    </div>
                    <div class="col">
                        <h6>{{post.profile.name}} {{post.profile.surname}}</h6>

                        {% else %}
                        <a href="{% url 'group-detail' post.group.pk %}" class="text-decoration-none">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-2 ">
                                        {% if post.group.image %}
                                        <div class="profile-image preview"
                                             style="background-image: url({{post.group.image.url}})">
                                        </div>
                                        {% else %}
                                        {% load static %}
                                        <div class="profile-image preview"
                                             style="background-image: url({% static 'img/noimage.jpg' %})">
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col">
                                        <h6>{{post.group.name}}</h6>
                                        {% endif %}

                                        <small class="text-body-secondary ">{{ post.created_at|date:"d M H:i" }}</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% if post.media %}
                        <img src="{{post.media.url}}" style='' class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            {% if post.content %}
                            <p class="card-text">{{ post.content }}</p>
                            {% endif %}

                        </div>

                        <div class="card-footer text-body-secondary d-flex">
                            <form class="me-2" action="{% url 'post-like' post.id%}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger mb-1"><i
                                        class="bi bi-suit-heart"></i>
                                    {{post.likes.count}}
                                </button>
                            </form>
                            <form action="{% url 'post-share' post.id%}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-secondary mb-1"><i
                                        class="bi bi-arrow-repeat"></i>
                                    {{post.shares.count}}
                                </button>
                            </form>
                        </div>

                    </div>
                    <h2>Коментарі</h2>
                    <form method="post" action="" style="max-width: 500px" class=""
                          enctype="multipart/form-data">
                        {% csrf_token %}
                            {{ form.as_div }}
                            <button class="btn btn-outline-dark" type="submit">Додати коментар
                            </button>
                    </form>

                    <div class="comments">

                        {% for comment in post.comments.all %}
                        <div class="card my-2">
                            <div class="card-header">
                            <a href="{% url 'profile-user-detail' comment.from_user.profile.pk %}" class="text-decoration-none">
                                {{ comment.from_user.username }}
                                </a>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    {{ comment.text }}
                                </p>
                                <small class="text-body-secondary ">{{ comment.created_at|date:"d M H:i" }}</small>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>

                {% endblock %}