{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1 class="my-4">Зареєструватися</h1>
        {% if messages %}

        {% for message in messages %}
            <div class="alert alert-secondary" role="alert">
                {{ message }}
            </div>
        {% endfor %}

    {% endif %}
    <form class = 'row g-3' method="post" action="{% url 'register' %}" style="max-width: 900px">
        {% csrf_token %}
        {% for field in form %}
        <div class="col-md-4">
            {{field.label}}
            {{field}}
            {% if field.errors %}
            <div class="invalid-feedback">
                {{field.errors|striptags}}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-light my-3">Реєстрація</button>

        <a href="{% url 'login' %}" class="m-3 text-dark">Увійти в профіль</a>
    </form>
    </div>

{% endblock %}