@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
body{
    background: #e2e6f9;
    font-family: "Moderustic", sans-serif;
}

nav{
    background: #b4c1ff;
}

.profile-cover{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.profile-image{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 4px solid #b4c1ff;
}
