{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1 class="my-4">Мої друзі</h1>
            {% for friend in friends %}
                        <div class="row">
        <div class="col-3 col-md-4 p-4">
            {% if friend.image %}
            <div class="profile-image" style="background-image: url({{group.image.url}})">
            </div>
            {% else %}
            {% load static %}
            <div class="profile-image" style="background-image: url({% static 'img/noimage.jpg' %})">
            </div>
            {% endif %}
        </div>
        <div class="col-9 col-md-8">
            <h3 class="my-3">
                <a href="{% url 'group-detail' group.pk %}" class="btn btn-outline-dark mb-1 ">{{group.name}}</a> </h3>
            <p class="card-body">{{ group.members.count }} учасників</p>
        </div>
                        </div>
                        {% endfor %}
    </div>

{% endblock %}